
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.home,
.all,
.products,
.services,
.signup,.add,.edit{
  display:flex;
  justify-content: center;
  height: 100vh;
  font-size: 4rem;
}
.footer {
  text-align: center;
 
  color: rgb(3, 78, 5);
  background-color: rgb(252, 249, 249);
  font-size: 18px;
}